{% extends 'blog/base.html.twig' %}

{% block title %}
	{% for categorie in categories %}
		{{categorie.nom}}

	{% endfor %}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-3" style="min-height:36rem;">
				<div class="position-sticky " style="top: 2rem ;">
					{% include "widget/about.html.twig" %}
					{% include "widget/categories.html.twig" %}
				</div>
			</div>
			<div class="col-md-9">
				<h3 class="pb-4 px-4 mb-4 fst-italic border-bottom">
					{% for categorie in categories %}
						{{categorie.nom}}

					{% endfor %}
				</h3>
				<div id="niveau-liste">
					{% for categorie in categories %}
						{% include "publications/liste.html.twig" with {categorie} %}

					{% endfor %}
				</div>

			</div>
		</div>
	</div>

{% endblock %}
